.headerbox {
  letter-spacing: 1px;
  text-align: center;
  font-size: 30px;
  color: #051122;
  padding-bottom: 20px;
}

.headerbox__ul {
  text-align: center;
  list-style: none;
  display: flex;
  justify-content: space-around;
}

.headerbox__li {
  color: #051122;
  font-size: 25px;
  padding: 10px;
  border: black 4px solid;
  border-radius: 20px;
  background-color: #b3a3c0;
  letter-spacing: 1px;
  text-decoration: none;
  &:hover {
    background-color: #594e61;
    font-size: 35px;
  }
}
