<header>
    <div class="headerbox">
    <h1><marquee>{{logoName}}</marquee></h1>
</div>
<nav class="headerbox__nav">
    <ul class="headerbox__ul">
        <li><a class="headerbox__li" href="https://www.tibia.com">{{homeUrl}}</a></li>
        <li><a class="headerbox__li" href="https://www.tibia.com/library/?subtopic=creatures">{{pageUrl}}</a></li>
        <li><a class="headerbox__li" href="https://www.tibia.com/abouttibia/?subtopic=aboutcipsoft">{{about}}</a></li>
    </ul>
</nav>
    
</header>